fastapi
asyncio
requests
openpyxl
xlsxwriter
uvicorn
Pillow
boto3
httpx
tldextract
aiohttp
aiohttp-retry==2.8.3
python-dotenv
mysql-connector-python==8.3.0
pyodbc
sqlalchemy
pandas
chardet
aiobotocore
tenacity
aiosmtplib
aioodbc